* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  color: white;
}

main,
footer {
  max-width: 80vw;
  margin: 0 auto;
}

header {
  background: url("../assets/bg.jpg") no-repeat;
  background-size: cover;
  text-align: center;
}

.intro {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.6rem;
  margin-top: 0;
  opacity: 0.8;
  position: sticky;
}

ul {
  list-style-type: none;
}

nav a {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

nav li {
  padding-bottom: 1.2rem;
}

nav li:last-child {
  padding-bottom: 2rem;
}

.heading img {
  padding: 2rem 0;
}

.benefits {
  background-color: white;
  padding: 1.2rem;
}

.benefits img {
  max-width: 100%;
  margin-top: 1.2rem;
}

.benefits div {
  background-color: rgba(150, 176, 15, 0.7);
  padding: 0.5rem 1rem;
}

h2 {
  font-family: "Amaranth", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

.benefits p {
  opacity: 0.7;
}
