* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  color: white;
}

main,
footer,
.header-content-wrapper {
  max-width: 80vw;
  margin: 0 auto;
}

header {
  background: url("../assets/bg.jpg") no-repeat;
  background-size: cover;
  text-align: center;
}

.intro {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.6rem;
  margin-top: 0;
  opacity: 0.8;
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
}

nav a {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

nav li {
  padding-bottom: 1.2rem;
}

nav li:last-child {
  padding-bottom: 2rem;
}

.heading img {
  padding: 2rem 0;
}

section {
  padding: 1.2rem;
}

.benefits,
.tea-types,
.featured-card {
  background-color: white;
  margin: 2rem;
}

.benefits img {
  max-width: 100%;
  margin-top: 1.2rem;
}

.benefits div {
  background-color: rgba(150, 176, 15, 0.7);
  padding: 0.5rem 1rem;
}

h2 {
  font-family: "Amaranth", sans-serif;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

.benefits p {
  opacity: 0.7;
}

.tea-types h2 {
  color: black;
  text-align: left;
}

.tea-types p {
  color: black;
  opacity: 0.7;
  text-transform: uppercase;
}

section.featured-cards {
  padding: 0 0 1.2rem 0;
}

.featured-cards h2 {
  line-height: 2.5rem;
  font-weight: lighter;
  text-align: left;
  padding: 0.5rem;
  margin: 0;
}

section.featured-cards h3,
section.featured-cards p {
  color: black;
  opacity: 0.7;
}

.featured-card {
  padding-bottom: 1.2rem;
  margin: 6rem 2rem;
  box-shadow: 0.05rem 0.05rem 0.5rem black;
}

.featured-image {
  padding: 1rem;
}

#card-featured-new {
  background-color: #e26a6a;
}

#card-featured-best-seller {
  background-color: #f4b350;
}

#card-featured-selection {
  background-color: #4ecdc4;
}

.basket {
  display: none;
}

@media only screen and (min-width: 768px) {
  .basket {
    display: flex;
    opacity: 0.7;
  }

  .header-basket-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  .benefits {
    position: relative;
  }

  .benefits-description {
    position: absolute;
    top: 3.5rem;
  }

  .tea-types-images {
    display: flex;
    justify-content: center;
  }

  .tea-types-images img,
  .featured-cards img {
    max-width: 100%;
  }

  .featured-cards {
    display: flex;
    justify-content: center;
  }

  .featured-card {
    flex: 1;
  }
}
